<div id="add" class="tab-pane">
    <div class="row no-padding">
        <div class="col-xs-12">
            <form name="articleForm" class="form-horizontal" ng-submit="postArticle($event, articleForm)" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">.lnk URL</label>

                    <div class="col-sm-10 no-padding-sm">
                        <!--<div class="full-width-sm">abc</div>-->
                        <input name="url" type="url" class="form-control full-width-sm" placeholder="URL you want to share" autofocus
                               ng-model="article.url" ng-required="true">

                        <p ng-show="articleForm.url.$error.required && !articleForm.url.$pristine" class="help-block">
                            URL is required.</p>

                        <p ng-show="articleForm.url.$error.url && !articleForm.url.$pristine" class="help-block">Invalid
                            URL.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>

                    <div class="col-sm-10 no-padding-sm">
                        <input name="title" type="text" class="form-control full-width-sm"
                               placeholder="What's it about?" maxlength="100" ng-required="true" ng-model="article.title">

                        <p ng-show="articleForm.title.$error.required  && !articleForm.title.$pristine"
                           class="help-block">Title is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>

                    <div class="col-sm-10 no-padding-sm">
                        <textarea name="description" ng-keyup="autoResizeTextarea('',$event)"
                                  class="form-control full-width-sm animate"
                                  rows="1"
                                  placeholder="Explain some more"
                                  ng-required="true" maxlength="400"
                                  ng-model="article.description"></textarea>

                        <p ng-show="articleForm.description.$error.required && !articleForm.description.$pristine"
                           class="help-block">A description is required!</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="add-form-image" class="col-sm-2 control-label">Image</label>
                    <!--<img ng-src="{{articleForm.url | imageUrlFilter : articleForm.alternateImageUrl: urlIsImage}}"-->
                         <!--id="add-form-image" class="article-preview-image col-sm-2" imageonload/>-->

                    <div class="col-sm-10 no-padding-sm" ng-if="isAternateUrlVisible()">
                        <input name="alternateImageUrl" ng-model="article.alternateImageUrl" type="url"
                               class="form-control full-width-sm animate" placeholder="Better image? Add alternate image URL here">

                        <p ng-show="articleForm.alternateImageUrl.$error.url && !articleForm.alternateImageUrl.$pristine"
                           class="help-block">Invalid URL.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tags</label>

                    <div class="col-sm-10 no-padding-sm">
                        <input name="tags" type="text" class="form-control full-width-sm"
                               placeholder="Add comma separated tags" ng-model="article.tags" ng-required="true"
                               maxlength="100">

                        <p ng-show="articleForm.tags.$error.required && !articleForm.tags.$pristine" class="help-block">
                            At least one tag is required!</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 no-padding-sm">
                        <button id="lnk-submit" type="submit" class="btn btn-primary form-control full-width-sm"
                                ng-disabled="!articleForm.$valid">.lnk it
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- preview-->
    <div>
        <article class="row full-width article-separator">Preview</article>
        <article class="row">
            <!-- Article begin -->
            <div class="col-xs-12 full-width-xs">
                <div class="article-content">
                    <div class="article-main ">
                        <h3 class="article-heading"><span>{{article.title}}</span>
                            <a href="{{article.url}}" class="icon-spacer fa fa-external-link"
                               title="{{article.title}} ({{article.url}})" target="_blank"></a>
                        </h3>

                        <div class="article-image">
                            <img ng-src="{{articleForm.url | imageUrlFilter : articleForm.alternateImageUrl: urlIsImage}}">
                        </div>
                        <!-- Voting begin -->
                        <div class="article-voting">
                            <a class="vote icon-passive icon-activatable" href="#"><i
                                    class="fa fa-arrow-circle-o-up fa-2x"></i></a>

                            <div class="vote position-center">{{article.votes.numberOfVotes}}</div>
                            <a class="vote icon-passive icon-activatable" href="#"><i
                                    class="fa fa-arrow-circle-o-down fa-2x"></i></a>
                        </div>
                        <!-- Voting end -->
                        <!-- Article description begin -->
                        <div class="article-description">
                            <p>{{article.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Article end -->
        </article>
    </div>
</div>
