<div id="add" class="tab-pane">
    <div class="row no-padding">
        <div class="col-xs-12">
            <form name="loginForm" class="form-horizontal" ng-submit="login($event, loginForm)" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10 no-padding-sm">
                        <!--<div class="full-width-sm">abc</div>-->
                        <input name="username"  class="form-control full-width-sm" placeholder="Username" autofocus
                               ng-model="loginData.username" ng-required="true">

                        <p ng-show="loginForm.username.$error.required && !loginForm.username.$pristine" class="help-block">
                            Username is required.</p>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10 no-padding-sm">
                        <input name="password" type="password" class="form-control full-width-sm"
                               placeholder="Password" maxlength="50" ng-required="true" ng-model="loginData.password">

                        <p ng-show="loginForm.password.$error.required  && !loginForm.password.$pristine"
                           class="help-block">Password is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label"></div>
                    <div class="col-sm-10 no-padding-sm  form-control-maxWidth">
                        <div class="col-sm-6 no-padding-sm">
                            <button  type="submit" class="btn btn-primary full-width full-width-sm " ng-disabled="!loginForm.$valid">.login</button>
                        </div>
                        <div class="col-sm-6  no-padding-sm ">
                            <button  type="button" class="btn btn-primary  full-width" ng-click="createAccount($event)" >.create Account</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
