<div class="header" ng-controller="navigationController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2" id="logo">.lnk</div>
            <div class="col-md-7 row col-sm-6 col-xs-4">
                <h5 class="text-center hidden-xs" id="headline">Love
                    the things you find - share the things you love <i class="fa fa-heart-o"></i>
                </h5>
                <h5 class="text-center visible-xs hidden-xxs" id="headline">Love & share <i class="fa fa-heart-o"></i>
                </h5>

            </div>


            <div class="col-md-3 col-sm-4  col-xs-6 ">
                <!--<form ng-submit="doLogin" ng-if="!userStateService.user" novalidate>-->
                <div class="row" ng-if="!user">
                    <button class="btn btn-default pull-right" ng-click="doLogin($event)" ng-if="!user"> .login</button>
                </div>

                <div class="row" ng-if="user">
                    <button class="btn btn-default hidden-xs pull-right" ng-click="showUserDetail($event)"><i
                            class="fa fa-user"></i> {{user.firstname}} {{user.name}}
                    </button>
                    <button class="btn btn-default visible-xs pull-right" ng-click="showUserDetail($event)"><i
                            class="fa fa-user"></i> {{user.userName}}
                    </button>
                    <button class="btn btn-default pull-right" ng-click="logout($event)">.logout</button>
                </div>
            </div>
        </div>
    </div>
</div>

