
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins";
@import "./variables.less";

@color-highlight-background:  #f9f9f9;
@color-separators: #cccccc;

@font-family-sans-serif:  'Fjalla+One', Helvetica, Arial, sans-serif;
@headings-font-family:    @font-family-sans-serif;
@font-family-body:        'Droid Serif', serif;

#logo{
  font-size: @font-size-large;
  height: 100%;
  margin: 10px 0px;
}
// navigation
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
    background-color: @color-highlight-background;
 }
//.nav-tabs > li.passive > a, .nav-tabs > li.passive > a:focus{
//  background-color: none;
//}
html {
  font-size: 12pt;
  font-family: @font-family-body;
}

body {
  font-family: @font-family-body;
}

h1, h2, h3, h4, h5 {
  font-family: @font-family-sans-serif;
}

#main-navigation{
  border: none;
}

.container {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

.tab-first-row{
  border-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: @nav-tabs-border-color;
}

.tab-last-row{
  border-width: 1px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: @nav-tabs-border-color;
}

.tab-content{
//  padding: @padding-small-vertical @padding-small-horizontal;
  background-color: @color-highlight-background;
}

article {
  border-bottom-width:1px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(150, 150, 150, 0.75);
  -moz-box-shadow:    0 8px 6px -6px rgba(150, 150, 150, 0.75);
  box-shadow:         0 8px 6px -6px rgba(150, 150, 150, 0.75);
  padding-bottom:     @nice-margin;
  margin-bottom:      @nice-margin;
}

.results > div > article:first-of-type {
  border-top-width: 0;
}

.article-image img {
  max-width: 100%;
  min-width: 75%;
}

.article-content h3.article-heading {
  font-size: @font-size-large;
  font-weight: 900;
}

.vote {
  .center-block();
}

.icon-spacer {
  margin-left: 7px;
  margin-right: 20px;
}

.show-comments-divider-group {
  overflow: hidden;
  text-align: left;
  text-indent: 20px;
  display: block;
  margin: @nice-margin 0 0 @voting-width;
  font-size: @font-size-small;

  :before, :after {
    background-color: @color-separators;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }

  :before {
    right: 0.5em;
    margin-left: -40px;
    width: 40px;
  }

  :after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.comments-ul {
  display: block;
}

.article-meta, .comment-meta {
  font-size: @font-size-small;
}

.comments-ul li .comment-meta {
  display: block;
  overflow: hidden;
  height: auto;
}

.comments-ul li {
  margin-bottom: 10px;
}

.icon-passive {
  color: #AAAAAA;
}

.icon-activatable:hover {
  color: #666666;
}