@color-highlight-background:  #f9f9f9;
@import "../bower_components/bootstrap/less/variables.less";

// navigation
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
    background-color: @color-highlight-background;

    background-color: @color-highlight-background;
 }
//.nav-tabs > li.passive > a, .nav-tabs > li.passive > a:focus{
//  background-color: none;
//}



#main-navigation{
  border: none;
}

.tab-content{
  border: 1px solid @nav-tabs-border-color;
  margin-top: -1px;
  padding: @padding-small-vertical @padding-small-horizontal;
  background-color: @color-highlight-background;
}

