@color-highlight-background:  #f9f9f9;
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins";
@color-separators: #eeeeee;

@font-family-sans-serif:  'Fjalla+One', Helvetica, Arial, sans-serif;
@headings-font-family:    @font-family-sans-serif;
@font-family-body:        'Droid Serif', serif;

#logo{
  font-size: @font-size-large;
  height: 100%;
  margin: 10px 0px;
}
// navigation
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
    background-color: @color-highlight-background;

    background-color: @color-highlight-background;
 }
//.nav-tabs > li.passive > a, .nav-tabs > li.passive > a:focus{
//  background-color: none;
//}
html {
  font-size: 12pt;
  font-family: @font-family-body;
}

body {
  font-family: @font-family-body;
}

h1, h2, h3, h4, h5 {
  font-family: @font-family-sans-serif;
}

#main-navigation{
  border: none;
}

.container {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

.tab-first-row{
  border-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: @nav-tabs-border-color;
}

.tab-last-row{
  border-width: 1px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: @nav-tabs-border-color;
}

.tab-content{
//  padding: @padding-small-vertical @padding-small-horizontal;
  background-color: @color-highlight-background;
}

article {
  border-top: 1px solid @color-separators;
  width: auto;
  margin: 0 15px;
  padding: 10px;  // TODO: Fix abolute value
}

.results > div > article:first-of-type {
  border-top-width: 0;
}

.article-image img {
  max-width: 100%;
  min-width: 75%;
}

.article-content {
  display: block;
  width: auto;
  min-height: 100px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 3px;
}

.article-content h3.article-heading {
  font-size: 1.5em;
  font-weight: 900;
}

.article-meta {
  bottom: 0;
  display: block;
  width: auto;
}

.vote {
  .center-block();
}

.icon-spacer {
  margin-left: 7px;
  margin-right: 20px;
}

.comments {
}

.comments-ul {
  display: block;
}

.article-meta, .comment-meta {
  font-size: 0.75em;
}

.comments-ul li .comment-meta {
  display: block;
  overflow: hidden;
  height: auto;
}

.comments-ul li {
  margin-bottom: 10px;
}

.icon-passive {
  color: #AAAAAA;
}

.icon-activatable:hover {
  color: #666666;
}